<h1>Course #<%= @course.id %></h1>

<div>
  <strong>Name</strong>:<br />
  <p><%= @course.name %></p>
</div>
<div>
  <strong>Students</strong>:<br />
  <ul>
    <%# @enrollments.each do |enrollment| %>
      <!-- <li><%#= Student.find_by_id(enrollment.student_id).name %></li> -->
    <%# end %>

    <% @students.each do |student| %>
      <li><%= student.name %></li>
    <% end %>
  </ul>
</div>

<a href="/courses/<%= @course.id %>/edit">Edit</a> |
<a href="/courses/<%= @course.id %>/destroy">Destroy</a>