<h1>Idea #<%= @idea.id %></h1>

<div>
  <strong>Name</strong>:<br />
  <p><%= @idea.name %></p>
</div>
<div>
  <strong>Email</strong>:<br />
  <p><%= @idea.email %></p>
</div>

<a href="/ideas/<%= @idea.id %>/edit">Edit</a> |
<a href="/ideas/<%= @idea.id %>/destroy">Destroy</a>
<p> </p>
<a href="/ideas">Back to list of ideas</a> |
<a href="/new_idea">Create a new idea</a>
